/* All desktop. */
@media (min-width: 768px) and (max-width: 1500px) {
    h1 {
        font-size: 45px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 25px;
    }
    h4 {
        font-size: 20px;
    }
    h5 {
        font-size: 17px;
    }
    h6 {
        font-size: 12px;
    }
    body {
        font-size: 12px;
    }
}

/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    .container {
        max-width: 1080px;
    }
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        max-width: 920px;
    }
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 730px;
    }
    body {
        font-size: 11px;
    }
   .app-choose {
      font-size: .85em;
   }
}

/* small mobile :320px. */
@media (max-width: 767px) {
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 16px;
    }
    h4 {
        font-size: 14px;
    }
    h5 {
        font-size: 12px;
    }
    h6 {
        font-size: 10px;
    }
    body {
        font-size: 11px;
    }

    /* header area */
    .logo img {
        max-width: 100px;
    }
    .footer-logo img {
        width: 120px;
    }

    /* HEADER AREA */
    .header-content {
        padding: 1em;
    }


    /* app */
    .app-title h2 {
      margin-bottom: .2em;
   }
    .section-content {
        text-align: center;
    }
    .app-area .pill-shape {
        top: -35%;
        left: -15%;
    }
    .style2 .pill-shape {
      left: 40%;
      top: -7%;
   }
   .style1 .pill-shape {
      left: 30%;
      top: -8%;
   }
    .app-page {
      width: 100%;
      margin-top: -8em;
   }
   .style2 .app-page {
      transform: translate(0%);
   }
    .app-pages {
      text-align: center;
   }
   .style2 div:nth-child(2) > .app-select .app-title,
   .style1 div:nth-child(1) > .app-select .app-title {
      text-align: center;
   }
   .style1 div:nth-child(1) > .app-select .app-title ,
   .style2 div:nth-child(2) > .app-select .app-title {
      top: 0%;
   }
   .contact-page .app-page {
      margin-top: -20%;
   }
   .style1 .app-category.row > div,
   .style2 .app-category.row > div {
      width: 100%;
   }
   .style1 .app-title h2,
   .style2 .app-title h2 {
      font-size: 24px;
   }
   .style2 div:nth-child(2) > .app-select .app-preview {
      transform: translate(0%);
   }
   .style1 div:nth-child(1) > .app-select .app-preview {
      transform: translate(0%);
   }
   .style2 .app-category > div:nth-child(1){
      display: none;
   }
   .style1 .app-category > div:nth-child(2){
      display: none;
   }
   .style1 .app-select, .style2 .app-select {
      padding-bottom: 5.5em;
      padding-top: 5em;
      margin-top: -1em;
   }
   .contact-page .app-select {
      padding-bottom: 5em;
      padding-top: 0;
   }
   .app-choose {
      padding: 1em 0;
   }
   .app-preview {
	margin: 1em 5%;
	margin-bottom: 3em;
}

    /* footer */
    .footer-menu li {
        text-align: center;
    }
    .footer-area .pill-shape {
      transform-origin: -18% 0%;
   }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        max-width: 400px;
    }
}
